* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  margin-top: 5px;
  margin-left: 5px;
}

.container {
  border: 5px solid black;
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  margin: 1%;
  width: 500px;
}

.grid {
  border: 1px solid black;
  flex-grow: 1;
  flex-basis: 100px;
}